<div class="container mt-4">
  <div class="row d-flex justify-content-between bg-dark my-3 py-2 text-center" style="border-radius: 1rem;">
    <div class="col-2">
      <button type="button" class="btn btn-sm btn-success w-100" (click)="onClickShowDialogEmpleado()">Agregar</button>
    </div>
    <div class="col-8">
      <h4 class="text-light">Empleado</h4>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row d-flex justify-content-center">
    <!-- TABLE -->
    <table class="table table-dark table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Empresa</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let empleado of empleados">
        <td>{{ empleado.id }}</td>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.correo }}</td>
        <td>{{ empleado.telefono }}</td>
        <td>{{ empleado.empresa.razonSocial }}</td>
        <td>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-sm" (click)="onClickShowDialogEmpleadoUpdate(empleado)">Editar</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- ./TABLE -->
  </div>
</div>
